<app-nav-menu [logged_in]="logged_in" ></app-nav-menu>

<app-login *ngIf="current_admin.admin_id == 0" (logEvent)="recieveAdminFromLogin($event)"></app-login>

<app-display-sites *ngIf="current_admin.admin_id != 0 && current_admin.admin_id != null && current_site_editor_id == 0" [is_tutorial] = "false" [current_admin_id]="current_admin.admin_id" [current_admin_token]="current_admin.token" (siteIdSelectEvent)="setSelectedSite($event)"></app-display-sites>

<app-site-editor (exitEvent)="resetEditor($event)" *ngIf="current_admin.admin_id != 0 && current_site_editor_id != 0" [current_site_id]="current_site_editor_id" [current_admin_id]="current_admin.admin_id" [current_admin_token]="current_admin.token"></app-site-editor>