<!-- <app-leaf-nav-bar *ngIf ="formatted_site.nav_bar != null" [is_edit_mode]="false" [nav_bar_object]="formatted_site.nav_bar"></app-leaf-nav-bar> -->
<h1 class="title" *ngIf="formatted_site.title != ''"> {{formatted_site.title}}</h1>
<div *ngFor="let site_component of formatted_site.site_components">
    <div *ngIf="site_component.type === 'p_box'">
        <app-paragraph-box [component_id]="site_component.component_id" [site_id]="formatted_site.site_id"></app-paragraph-box>
    </div>
    <div *ngIf="site_component.type === 'image'">
        <app-image [component_id]="site_component.component_id" [site_id]="formatted_site.site_id"></app-image>
    </div>
    <div *ngIf="site_component.type === 'portrait'">
        <app-portrait [component_id]="site_component.component_id" [site_id]="formatted_site.site_id"></app-portrait>
    </div>
    <div *ngIf="site_component.type === '2c_box'">
        <app-two-column-box [component_id]="site_component.component_id" [site_id]="formatted_site.site_id"></app-two-column-box>
    </div>
    <div *ngIf="site_component.type === 'link_box'">
        <app-link-box [component_id]="site_component.component_id" [site_id]="formatted_site.site_id"></app-link-box>
    </div>
</div>
