<h1>Your sites displayed here!</h1>

<table class='table table-striped' aria-labelledby="tableLabel">
    <thead>
      <tr>
        <th>Id</th>
        <th>Site Title</th>
        <th>Edit This Site</th>
        <th>Go Live with this Site</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let site of all_sites">
        <td>{{ site.site_id }}</td>
        <td>{{ site.title }}</td>
        <td><button class="btn btn-success" (click)="editSite(site.site_id, current_admin_id)">Edit</button></td>
        <td><button class="btn btn-info" (click)="setSiteActive(site.site_id)">Go Live</button></td>
        <td><button class="btn btn-danger" (click)="deleteSiteById(site.site_id)">Delete</button></td>
      </tr>
    </tbody>
</table>

<form (submit)="postSiteToService()">
    <label>Title: :</label><input name="first_name"[(ngModel)]="newSiteObject.title">
    <input type="submit" value="Post new Site">
</form>