<h1>Your sites displayed here!</h1>

<div *ngIf="is_tutorial">
  <h3 *ngIf="tutorial_sequence == 1"> Welcome to the site creation page! Click ok to continue. <button class="btn highlight" (click)="iterateTutorial()"> OK </button></h3>
  <h3 *ngIf="tutorial_sequence == 2"> This is where you create sites using your account. You will see that there are none becuse you need to create one! <button class="btn highlight" (click)="iterateTutorial()"> OK </button></h3>
  <h3 *ngIf="tutorial_sequence == 3"> Enter a title and click below to create a single-page site. All site names must be unique.</h3>
  <h3 *ngIf="tutorial_sequence == 4"> Well Done! You've made a site. Now click Edit to start adding content.</h3>
</div>  

<table class='table table-striped' aria-labelledby="tableLabel">
    <thead>
      <tr>
        <th>Id</th>
        <th>Site Title</th>
        <th>Edit This Site</th>
        <th>Go Live with this Site</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let site of all_sites">
        <td>{{ site.site_id }}</td>
        <td>{{ site.title }}</td>
        <td><button *ngIf="!is_tutorial" class="btn btn-success" (click)="editSite(site.site_id, current_admin_id)">Edit</button></td>
        <td><button *ngIf="is_tutorial && tutorial_sequence < 4" class="btn btn-success" (click)="editSite(site.site_id, current_admin_id)">Edit</button></td>
        <td><button *ngIf="is_tutorial && tutorial_sequence == 4" class="btn btn-success highlight" (click)="editSite(0, 0)">Edit</button></td>
        <td><button class="btn btn-info" (click)="setSiteActive(site.site_id)">Go Live</button></td>
        <td><button class="btn btn-danger" (click)="deleteSiteById(site.site_id)">Delete</button></td>
      </tr>
    </tbody>
</table>
<div *ngIf="!is_tutorial || tutorial_sequence != 3">
  <form (submit)="postSiteToService()">
      <label>Title: :</label><input name="first_name" [(ngModel)]="newSiteObject.title">
      <input  type="submit" value="Post new Site">
  </form>
</div>
<div *ngIf="is_tutorial && tutorial_sequence == 3">
  <form (submit)="postSiteToService()">
    <label>Title: :</label><input name="first_name" [(ngModel)]="newSiteObject.title">
    <input  type="submit" value="Post new Site">
  </form>
</div>