<app-nav-menu></app-nav-menu>
    
    <div class="background-forest bf-one">
        <h1 class="text-center title-element"> Welcome to the easiest way to make websites! </h1>
    </div>
    <div class="top-information-container">
        <div class="generic-element">
            <h3> Think in leaves! </h3>
            <p> A leaf is a single page website which can be shared with anyone. 
                It can also feature links to other leaves to create a multi page website. Create leaves to share your websites with the world.</p>
        </div>
        <div class="question-container">
            <div class="question-box question-left">
                <h5> How do I get started? </h5>
                <p> The recommended way to get started is by trying the tutorial <a class="link-theme" href="/base/tutorial">here</a>.
                    There is no registration required to try the tutorial. </p>
            </div>

            <div class="question-box question-right">
                <h5> Don't I need software engineering experience to build a website? </h5>
                <p> No!! Anyone can build a website on Site Leaves! No technical experience required!
                    If you can post on social media, you can build websites using site leaves. </p>
            </div>

            <div class="question-box question-left">
                <h5> Easy sure but it takes a long time right? </h5>
                <p> You can own your own website within 10 minutes of reading this. 
                    You can make modifications to your site whenever you want so no need to worry about making mistakes.
                    just jump right in and start creating!</p>
            </div>
            <div class="question-box question-right">
                <h5> Why is it free? Is this part of some dastardly scheme? </h5>
                <p> Just a project of an aspiring software engineer. Feedback is always appreciated. See about for more details. </p>
            </div>
        </div>
        <div class = "generic-element h-border h-background buffer">
            <div class="h-list">
                <h3> What makes site leaves right for you? </h3>
                <ul class="list-group">
                    <li class="list-group-item h-list-odd"> Create a website in minutes (no, seriously!). </li>
                    <li class="list-group-item h-list-even"> No advertisements on your site pages. </li>
                    <li class="list-group-item h-list-odd"> Share your site with anyone in the world. </li>
                    <li class="list-group-item h-list-even"> Modify your site content as many times as you want after creation. </li>
                    <li class="list-group-item h-list-odd"> The price is right because it's free! </li>
                </ul>
            </div>

            <div class="h-list h-list-right">
                <h3>Great for:</h3>
                <ul class="list-group">
                    <li class="list-group-item h-list-odd"> Personal Portfolios </li>
                    <li class="list-group-item h-list-even"> Product Reviews </li>
                    <li class="list-group-item h-list-odd"> Journalism </li>
                    <li class="list-group-item h-list-even"> Event Information Sites </li>
                    <li class="list-group-item h-list-odd"> Whatever you come up with! </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="background-forest bf-two"></div>

    <div class="bottom-information-container">
        <div class="text-center">
            <h2> General guide video: </h2>
            <div class="h-video generic-element">
                <iframe
                    src="https://www.youtube.com/embed/TeixVm1TFQY">
                </iframe>
            </div>
            <h2> How to link multipage sites: </h2>
            <div class="h-video generic-element">
                <iframe
                    src="https://www.youtube.com/embed/EAAiXQCHs8c">
                </iframe>
            </div>
        </div>
    </div>
    <div class="footer"></div>

<app-ana></app-ana>

