<app-nav-menu></app-nav-menu>

    <h1 class="buffer text-center"> Welcome to the easiest way to make websites! </h1>
    <div class="background-forest generic-element bf-one"></div>

    <div class="generic-element">
        <h3> Think in leaves! </h3>
        <p> A leaf is a single page website which can be shared with anyone. 
            It can also feature links to other leaves to create a multi page website.
            Learn how to create and use leaves by trying the <a href="/base/tutorial">tutorial</a>.
            The tutorial does not even require registration, so there's every reason give it a try.</p>

        <p>If you're keen to just jump right in, you can create your admin <a href="/base/admin">here</a>.</p>
    </div>

    <div class = "generic-element h-border h-background">
        <div class="h-list">
            <h3> What makes site leaves right for you? </h3>
            <ul class="list-group">
                <li class="list-group-item h-list-odd"> Create a website in minutes (no, seriously!). </li>
                <li class="list-group-item h-list-even"> No advertisements on your site pages. </li>
                <li class="list-group-item h-list-odd"> Share your site with anyone in the world. </li>
                <li class="list-group-item h-list-even"> Modify your site content as many times as you want after creation. </li>
                <li class="list-group-item h-list-odd"> No advertisements on your site pages. </li>
                <li class="list-group-item h-list-even"> The price is right because it's free! </li>
            </ul>
        </div>

        <div class="h-list h-list-right">
            <h3>Great for:</h3>
            <ul class="list-group">
                <li class="list-group-item h-list-odd"> Personal Portfolios </li>
                <li class="list-group-item h-list-even"> Product Reviews </li>
                <li class="list-group-item h-list-odd"> Journalism </li>
                <li class="list-group-item h-list-even"> Event Information Sites </li>
                <li class="list-group-item h-list-odd"> Whatever you come up with! </li>
            </ul>
        </div>
    </div>

    <div class="background-forest generic-element bf-two"></div>
<div class="text-center">
    <h2> General guide video: </h2>
    <div class="h-video generic-element">
        <iframe
            src="https://www.youtube.com/embed/TeixVm1TFQY">
        </iframe>
    </div>
    <h2> How to link multipage sites: </h2>
    <div class="h-video generic-element">
        <iframe
            src="https://www.youtube.com/embed/EAAiXQCHs8c">
        </iframe>
    </div>
</div> 

    <div class="generic-element">
        <h3 class="text-center"> Get started today! </h3>
    </div>

