
.title-background{
    background-image: url("../image-files/banana-leaf.jpg");
    background-color: black;
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    margin-bottom:0%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: repeat-x;
    height: 335px;
}

.background-leaf{
    background-image: url("../image-files/high-leaves.jpg");
}

.title-element{
    margin-top:0%;
    margin-bottom: 2%;
    font-size: 20px;
}

.title-mask{
    background-color: rgba(111, 202, 105, 0.575);
    border-radius: 4px;
    padding: 1%;
}

.question-container{
    padding: 2%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.top-information-header{
    background-color: rgb(163, 195, 163);
    padding: 1%;
    border-radius: 2px;
}

.top-information-header h3{
    text-align: center;
}

.top-information-container{
    background-image: url("../image-files/high-leaves.jpg");
    background-position: bottom left;
    background-attachment: fixed; 
    padding-top:3%;
    padding-bottom: 3%;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.bottom-information-container{
    background-color: rgb(174, 209, 192);
}

.donation-blurb{
    padding-top:30px;
    padding-bottom:30px;
    padding-left: 5px;
    padding-right: 5px;
    max-width: 1200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.donate-text{
    display: inline-block;
    width:70%;
}

.donate-logo{
    display: inline-block;
    width:30%;
    max-width: 200px;
}

.footer{
    height: 50px;
    background-color: rgb(121, 159, 165);
    border-top: 3px solid rgb(0, 92, 128);
}

.question-box{
    background-color: rgb(163, 195, 163);
    position: relative;
    padding: 3%;
    width: 80%;
    z-index: 1;
    box-shadow: 5px 10px #888888;
}

.question-box:after{
    background:inherit;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    display: block;
    height: 50%;
    transform: skewY(-1.5deg);
    transform-origin: 100%;
    z-index: -1;
    box-shadow: 5px 10px #888888;
}

.question-box h5{
    text-align: center;
}

.question-right{
    margin-left: 5%;
    margin-bottom: 5%;
}

.question-left{
    margin-left: 5%;
    margin-bottom: 5%;
}

.bf-one{
    background-position: bottom left;
    height: 600px;
}

.bf-two{
    background-position: bottom center;
    height:300px;
}

.link-theme{
    color:rgb(255, 255, 255);
}
.link-theme:hover{
    color:white;
}

.h-video {
    position: relative;
    height: 0;
    padding-bottom: 51%;
    margin-left: auto;
    margin-right: auto;
    height: 0;
    width: 80%;
}

.h-video iframe{
    position: absolute;
    width: 100%;
    height: 75%;
    left:0; top: 0;
}

.h-list{
    padding: 5%;
    display: block;
    margin-left: auto;
    margin-right:auto;
}

.h-border{
    border: 2px solid rgb(160, 192, 176);
}

.h-background{
    background-color: rgb(167, 228, 167);
    opacity: 1;
}

.buffer{
    margin-top: 5%;
}

.h-list-odd{
    background-color: rgb(175, 236, 218);
}

.h-list-even{
    background-color: rgb(210, 238, 176);
}

@media (min-width: 800px){
    .donate-text{
        padding-left:0%;
    }

    .question-box{
        width: 40%;
        margin-top:0%;
        margin-bottom: 0%;
    }
    .question-right{
        margin-left: 55%;
    }
    
    .question-left{
        margin-left:5%;
    }

    .title-element{
        font-size: 30px;
    }

    .h-border{
        padding-left: 3%;
        padding-right: 3%;
    }
}

@media (min-width: 1080px){
    .donate-text{
        padding-left:10%;
        width:80%;
    }

    .donate-logo{
        width:20%;
    }

    .h-list{
        padding: 2%;
        /* display: inline-block; */
    }

    .h-list-right{
        margin-left: 5px;
    }

    .buffer{
        margin-top: 3%;
    }
}

@media (min-width: 1350px){
    .donate-text{
        padding-left:0%;
        font-size:30px;
    }
    .title-element{
        font-size: 50px;
    }

    .h-list{
        display: inline-block;
    }

    .h-border{
        padding-left: 0px;
        padding-right: 0px;
    }

    .h-video{
        width: 1080px;
        height: 810px;
        padding-bottom: 0px;
        position: relative;
    }
}