/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
*{
  margin: 0px;
  box-sizing: border-box;
  vertical-align: top;
  font-family: sans-serif;
}

.leaf-title{
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.site-component-container{
  margin-top: 8%;
  margin-bottom: 8%;
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* border: 2px ridge black; */
}

.generic-element{
  margin-top: 4%;
  margin-bottom: 4%;
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width:1080px){
  .site-component-container{
      max-width:1080px;
  }

  .generic-element{
    max-width:1080px;
  }
}


/* tutorial related */

.highlight{
  animation-name: flash_action;
  animation-duration: 2s;
  animation-iteration-count:infinite;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

@keyframes flash_action {
  from {
    background-color: rgb(66, 133, 72);}
  to {
    background-color: rgb(145, 202, 148);
  }
}
