/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
*{
  margin: 0px;
  box-sizing: border-box;
  vertical-align: top;
  font-family: sans-serif;
}

.site-component-container{
  margin-top: 8%;
  margin-bottom: 8%;
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* border: 2px ridge black; */
}

@media (min-width:1080px){
  .site-component-container{
      max-width:1080px;
  }
}
