<h3>Register A New Admin Here</h3>

<form class="form-horizontal" (submit)="postAdminToService()">
    <label>First Name: </label><input class="form-control" name="first_name"[(ngModel)]="newAdminObject.first_name">
    <label>Last Name: </label><input class="form-control" name="last_name" [(ngModel)]="newAdminObject.last_name">
    <label>Email: </label><input class="form-control" name="email" [(ngModel)]="newAdminObject.email">
    <label>Password: </label><input class="form-control" name="password" type="password" [(ngModel)]="newAdminObject.password">
    <input class="btn btn-info buffer" type="submit" value="Post new Admin">
  </form>

<h3>If you have an account, you may log in:</h3>
  <form class="form-horizontal" (submit)="loginAdmin()">
    <label>Email: </label><input class="form-control" name="email" [(ngModel)]="entered_email">
    <label>Password: </label><input class="form-control" name="password" type="password" [(ngModel)]="entered_password">
    <input class="btn btn-info buffer" type="submit" value="Login">
  </form>

  <p>{{entered_email}} -- {{entered_password}}</p>
  <p>Logger logged admin id: {{logged_admin_id}}</p>