/* Editor Specific Options */
.editor-form {
    margin-bottom: 50px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgb(167, 228, 167);
    border: 2px solid rgb(160, 192, 176);
    border-radius: 5px;
}


.editor-form input, textarea {
    margin-left: 2%;
} 

.creation-tools {
    width: 100%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    background-color: rgb(167, 228, 167);
    border: 2px solid rgb(160, 192, 176);
    border-radius: 5px;
}

.creation-tools button {
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.end-site-mark {
    display: block;
    margin-top: 7%;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.nav-editor-form {
    margin-bottom: 50px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgb(167, 228, 167);
    border: 2px solid rgb(160, 192, 176);
    border-radius: 5px;
}

.nav-edit-subsection-one{
    display: inline-block;
    padding: 1%;
}

.nav-edit-subsection-two{   
    display: inline-block;
    padding: 1%;
}

.nav-edit-subsection-two input{
    margin-left: 3%;
}

.nav-edit-button{
    margin-left: 5%;
    margin-bottom: 2%;
    margin-top: 2%;
    display: inline-block;
}

.tutorial-box {
    border: 1px solid rgb(49, 126, 55);
    border-radius: 5px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 4%;
    padding-right: 4%;
    margin-top: 3%;
    margin-bottom: 5%;
}

.highlight {
    margin-left: 5%;
}

@media (min-width:500px){
    .editor-form{
        width: 80%;
    }

    .creation-tools{
        width: 80%;
    }
}

@media (min-width:875px){
    .end-site-mark {
        max-width: 875px;
    }

    .creation-tools{
        padding-top: 2%;
        padding-bottom: 2%;
        padding-left: 3%;
        padding-right: 3%;
    }

    .editor-form{
        padding-top: 2%;
        padding-bottom: 2%;
        padding-left: 3%;
        padding-right: 3%;
    }
}

@media (min-width: 1080px){
    .creation-tools {
        max-width: 1080px;
    }

    .editor-form{
        max-width: 864px;
    }

    .end-site-mark{
        margin-top: 5%;
    }
}

@media (min-width: 1200px){
    .nav-edit-subsection-two{
        width: 50%;
        margin-left: 10%;
    }
}


    