<div class="container tutorial-box" *ngIf="is_tutorial && tutorial_sequence < 9">
  <h3 class = "text-info" *ngIf="tutorial_sequence == 1"> This is the site editor. Click the flashing ok button to continue.<button class="btn highlight" (click)="iterateTutorial()"> OK </button></h3>
  <h3 class = "text-info" *ngIf="tutorial_sequence == 2"> It is currently empty as no content has been created yet. <button class="btn highlight" (click)="iterateTutorial()"> OK </button></h3>
  <h3 class = "text-info" *ngIf="tutorial_sequence == 3"> Content is created by filling out forms and adding components. <button class="btn highlight" (click)="iterateTutorial()"> OK </button></h3>
  <h3 class = "text-info" *ngIf="tutorial_sequence == 4"> Click the button highlighted below to add a paragraph box.</h3>
  <h3 class = "text-info" *ngIf="tutorial_sequence == 5"> Every paragraph box requires a title and content. It's your content so you put what you want! Note this demo site will not be saved. </h3>
  <h3 class = "text-info" *ngIf="tutorial_sequence == 6"> Nicely done! You just created your first site component! In a real session, your content saves as you go. <button class="btn highlight" (click)="iterateTutorial()"> OK </button></h3>
  <h3 class = "text-info" *ngIf="tutorial_sequence == 7"> Create site components in order to build your site page. You now have access to the other site components. Try them out! The tutorial ends when you leave this page. <button class="btn highlight" (click)="iterateTutorial()"> OK </button></h3>
  <h3 class = "text-info" *ngIf="tutorial_sequence == 8"> Consider creating an Admin if you want to build a site page you can share with others. <button class="btn highlight" (click)="iterateTutorial()"> OK </button></h3>
</div>

<div *ngIf= "is_tutorial == false">
  <h4 class="generic-element">To see what your leaf looks like you can <button *ngIf="preview_mode == false" class="btn btn-success" (click)="togglePreview()"> Toggle Preview Mode </button></h4>
  <h4 *ngIf="preview_mode == true" class="generic-element">View your leaf below or go <button class="btn btn-info" (click)="togglePreview()"> Back to Editor </button></h4>
</div>

<app-page-generator *ngIf="preview_mode === true" [formatted_site]="formatted_site"> </app-page-generator>

<div *ngIf="preview_mode === false">
  <app-leaf-nav-bar *ngIf ="!is_tutorial" [is_edit_mode]="true" [nav_bar_object]="formatted_site.nav_bar"></app-leaf-nav-bar> 
  <div *ngIf="current_site_id != 0 && !is_tutorial">
    <h4 *ngIf="!is_tutorial && !nav_bar_editor_open" class="generic-element">To modify the leaf's nav bar you can <button class="btn btn-info" (click)="toggleNavBarEditor()"> Open Nav Bar Editor </button></h4>
    <h4 *ngIf="!is_tutorial && nav_bar_editor_open" class="generic-element">To close the nav bar editor you can <button class="btn btn-info" (click)="toggleNavBarEditor()"> Close Nav Bar Editor </button></h4>
    
    <div class="nav-editor-form" *ngIf="nav_bar_editor_open">
      <h3>Nav Bar Editor: </h3>
      <div class="nav-edit-subsection-one">
        <p *ngIf="new_nav_bar.links.length == 0"> Add links for your topside Nav Bar</p>
        <p *ngIf="new_nav_bar.links.length > 0">Current Links:</p>
        <div *ngFor="let link of new_nav_bar.links">
            <p> Label: {{link.label}}  Url: {{link.url}}</p>
        </div>
      </div>
      <div class="nav-edit-subsection-two" >
        <small>(A link label is what the user sees when they click your link)</small>
        <p><label> Add A link label: </label> <input class="title_box" name="label" [(ngModel)]="new_nav_link.label"></p>
        <p *ngIf="new_nav_link.url != ''">Link will go to: http://{{new_nav_link.url}}</p>
        <p *ngIf="validator.nav_bar_invalid_label_flag" class="text-danger"> A label may not be left blank. </p>
        <p><label> Add A link URL: </label><input class="title_box" name="url" [(ngModel)]="new_nav_link.url"></p>
        <p *ngIf="validator.nav_bar_invalid_url_flag" class="text-danger"> A url must be of the form www.example.com/... </p>
        <p class="text-danger"> May not contain curley brackets e.g. {{curlies}} </p>
        <button class="btn btn-info nav-edit-button" (click)="pushLinkToBar()"> Add link to nav bar </button>
        <button *ngIf = "new_nav_bar.links.length > 0" class="btn btn-danger nav-edit-button" (click)="RemoveNavBarLinks()"> Remove all links </button>
      </div>
    </div>
  </div>

  <h1 class="leaf-title" *ngIf="formatted_site.title != ''"> {{formatted_site.title}} </h1>

  <div *ngFor="let site_component of formatted_site.site_components">
    <div *ngIf="site_component.type === 'p_box'">
      <app-paragraph-box [pbox_object]="site_component"></app-paragraph-box>
      <div class="text-center">
        <button *ngIf="!is_tutorial" class="btn btn-danger" (click)='deleteSiteComponentByIdAndType(site_component.paragraph_box_id, site_component.type)'>Delete</button>
      </div>
    </div>

    <div *ngIf="site_component.type === 'image'">
      <app-image [image_object]="site_component"></app-image>
      <div class="text-center">
        <button *ngIf="!is_tutorial" class="btn btn-danger" (click)='deleteSiteComponentByIdAndType(site_component.image_id, site_component.type)'>Delete</button>
      </div>  
    </div>

    <div *ngIf="site_component.type === 'portrait'">
      <app-portrait [portrait_object]="site_component"></app-portrait>
      <div class="text-center">
        <button *ngIf="!is_tutorial" class="btn btn-danger" (click)='deleteSiteComponentByIdAndType(site_component.portrait_id, site_component.type)'>Delete</button>
      </div>
    </div>

    <div *ngIf="site_component.type === '2c_box'">
      <app-two-column-box [tcb_object]="site_component"></app-two-column-box>
      <div class="text-center">
        <button *ngIf="!is_tutorial" class="btn btn-danger" (click)='deleteSiteComponentByIdAndType(site_component.two_column_box_id, site_component.type)'>Delete</button>
      </div>
  </div>
  <div *ngIf="site_component.type === 'link_box'">
    <app-link-box [link_box_object]="site_component"></app-link-box>
    <div class="text-center">
      <button *ngIf="!is_tutorial" class="btn btn-danger" (click)='deleteSiteComponentByIdAndType(site_component.link_box_id, site_component.type)'>Delete</button>
    </div>
  </div>
  </div>

  <h4 class = "end-site-mark box-shadow" *ngIf="open_next_component === ''">(Additional Site Elements Will Be Created Here)</h4>

  <div class = "creation-tools box-shadow" *ngIf="open_next_component === '' ">
    <h3>Add a new Element by selecting from the following options:</h3>
    <button *ngIf="!is_tutorial" class="btn btn-success" (click)=setPboxEdit()> New Paragraph Box </button>
    <button *ngIf="is_tutorial && tutorial_sequence < 7 && tutorial_sequence != 4" class="btn btn-success"> New Paragraph Box </button>
    <button *ngIf="is_tutorial && tutorial_sequence == 4" (click)="setPboxEdit()" class="btn highlight"> New Paragraph Box </button>
    <button *ngIf="is_tutorial && tutorial_sequence >= 7" (click)="setPboxEdit()" class="btn btn-success"> New Paragraph Box </button>

    <button *ngIf="!is_tutorial" class="btn btn-info" (click)="set2cBoxEdit()">New Two Column Box</button>
    <button *ngIf="is_tutorial && tutorial_sequence < 7" class="btn btn-info">New Two Column Box</button>
    <button *ngIf="is_tutorial && tutorial_sequence >= 7" class="btn btn-info" (click)="set2cBoxEdit()" >New Two Column Box</button>
    
    <button *ngIf="!is_tutorial" class="btn btn-success" (click)="setPortraitEdit()">New Portrait</button>
    <button *ngIf="is_tutorial && tutorial_sequence < 7" class="btn btn-success">New Portrait</button>
    <button *ngIf="is_tutorial && tutorial_sequence >= 7" class="btn btn-success" (click)="setPortraitEdit()">New Portrait</button>


    <button *ngIf="!is_tutorial" class="btn btn-info" (click)="setImageEdit()">New Image</button>
    <button *ngIf="is_tutorial && tutorial_sequence < 7" class="btn btn-info">New Image</button>
    <button *ngIf="is_tutorial && tutorial_sequence >= 7" class="btn btn-info" (click)="setImageEdit()">New Image</button>

    <button *ngIf="!is_tutorial" class="btn btn-success" (click)="setLinkBoxEdit()">New Link Box</button>
    <!-- <button *ngIf="is_tutorial && tutorial_sequence < 7" class="btn btn-success">New Link Box</button>
    <button *ngIf="is_tutorial && tutorial_sequence >= 7" class="btn btn-success" (click)="setLinkBoxEdit()">New Link Box</button> -->
  </div>


  <div class="text-center bump-down">
    <button class="btn btn-info" *ngIf="open_next_component != ''" (click)=resetEditOptions()>Go Back To Options</button>
  </div>
    
    <div class="editor-form" *ngIf="open_next_component === '2c_box'">
      <h3> Add a two column box </h3>
      <form (submit)=postTwoColumnBoxToService()>
        <p *ngIf="new_2c_box.title === ''" class="text-info"> You may leave a title blank. A blank title will not appear in your leaf. </p>
        <p><label>Title: </label><input class="title_box" name="title" [(ngModel)]="new_2c_box.title"></p>
        <p *ngIf="new_2c_box.heading_one === ''" class="text-info"> You may leave a title blank. A blank title will not appear in your leaf. </p>
        <p><label>Column One Heading: </label><input class="title_box" name="heading_one" [(ngModel)]="new_2c_box.heading_one"></p>
        <p *ngIf="validator.tcb_content_one_invalid_flag" class="text-danger">Enter valid content or consider using a different component type.</p>
        <p><label>Column One Content: </label><textarea rows="5" cols="200" style="width:80%;" name="content_one" [(ngModel)]="new_2c_box.content_one"></textarea></p>
        <p *ngIf="new_2c_box.heading_two === ''" class="text-info"> You may leave a title blank. A blank title will not appear in your leaf. </p>
        <p><label>Column Two Heading: </label><input class="title_box" name="heading_two" [(ngModel)]="new_2c_box.heading_two"></p>
        <p *ngIf="validator.tcb_content_two_invalid_flag" class="text-danger"> Enter valid content or consider using a different component type. </p>
        <p><label>Column Two Content: </label><textarea rows="5" cols="200" style="width:80%;" name="content_two" [(ngModel)]="new_2c_box.content_two"></textarea></p>
        <p><input type="submit" class="btn btn-warning" value="Add Two Column Box"></p>
      </form>
    </div>

    <div class="editor-form" *ngIf="open_next_component === 'image'">
      <h3> Add an image </h3>
      <form (submit)=postImageToService()>
        <p *ngIf="new_image.title === ''" class="text-info"> You may leave a title blank. A blank title will not appear in your leaf. </p>
        <p><label>Title: </label><input class="title_box" name="title" [(ngModel)]="new_image.title"></p>
        <p *ngIf="validator.image_src_invalid_flag" class="text-danger">File must be a valid .png or .jpg</p>
        <p><label>Add a .png or .jpg image file: </label><input type="file" (change)="fileConversionListener($event)"></p> 
        <p *ngIf="image_converter_working"> Loading... </p>
        <p><input *ngIf="!image_converter_working && !validator.image_src_invalid_flag" type="submit" class="btn btn-warning" value="Add Image"></p>
      </form>
    </div>

    <div class="editor-form" *ngIf="open_next_component === 'portrait'">
      <h3> Add a portrait </h3>
      <form (submit)=postPortraitToService()>
        <p *ngIf="new_portrait.title === ''" class="text-info"> You may leave a title blank. A blank title will not appear in your leaf. </p>
        <p><label>Title: </label><input class="title_box" name="title" [(ngModel)]="new_portrait.title"></p>
        <p *ngIf="validator.image_src_invalid_flag" class="text-danger">File must be a valid .png or .jpg</p>
        <p><label>Add a .png or .jpg image file: </label><input type="file" (change)="fileConversionListener($event)"></p>
        <p *ngIf="validator.portrait_content_invalid_flag" class="text-danger">Save a valid file or consider using a different component.</p>
        <p><label>Content: </label><textarea rows="5" cols="200" style="width:80%;" name="content" [(ngModel)]="new_portrait.content"></textarea></p>
        <p *ngIf="image_converter_working"> Loading... </p>
        <p><input *ngIf="!image_converter_working && !validator.image_src_invalid_flag" type="submit" class="btn btn-warning" value="Add Portrait"></p>
      </form>
    </div>
    
    <div class="editor-form" *ngIf="!is_tutorial && open_next_component === 'p_box'">
      <h3> Add a paragraph box </h3>
      <form (submit)=postParagraphBoxToService()>
        <p *ngIf="new_paragraph_box.title == ''" class="text-info"> You may leave a title blank. A blank title will not appear in your leaf. </p>
        <p><label>Title: </label><input class="title_box" name="title" [(ngModel)]="new_paragraph_box.title"></p>
        <p><label>Content: </label><textarea rows="5" cols="200" style="width:80%;" name="content" [(ngModel)]="new_paragraph_box.content"></textarea></p>
        <p *ngIf="validator.pbox_content_invalid_flag" class="text-danger">Enter valid content text or consider a different component type.</p>
        <p><input type="submit" class="btn btn-warning" value="Add Paragraph Box"></p>
      </form>
    </div>

    <div class="editor-form" *ngIf="!is_tutorial && open_next_component === 'link_box'">
      <h3> Add a link and description </h3>
      <form (submit)=postLinkBoxToService()>
        <p *ngIf="new_link_box.title == ''" class="text-info"> You may leave a title blank. A blank title will not appear in your leaf. </p>
        <p><label>Title: </label><input class="title_box" name="title" [(ngModel)]="new_link_box.title"></p>
        <p><label>Description: </label><textarea rows="5" cols="200" style="width:80%;" name="content" [(ngModel)]="new_link_box.content"></textarea></p>
        <p *ngIf="validator.link_box_content_invalid_flag" class="text-danger">Enter a description for your link. This will be displayed next to the link.</p>
        <p *ngIf="new_link_box.url === ''" class="text-info" > Link will go to http://(Your url here!) </p>
        <p class="text-info" *ngIf="new_link_box.url != ''" > Link will go to http://{{new_link_box.url}} </p>
        <p><label>Link URL: </label><input name="url" [(ngModel)]="new_link_box.url"></p>
        <p *ngIf="validator.link_box_url_invalid_flag" class="text-danger">URL must be of the form www.example.com/...</p>
        <p><label>Label: </label><input name="link_display" [(ngModel)]="new_link_box.link_display"> (this is what the user sees when they click the link)</p>
        <p *ngIf="validator.link_box_display_invalid_flag" class="text-danger">A link must have a label.</p>
        <p><input type="submit" class="btn btn-warning" value="Add Link Box"></p>
      </form>
    </div>

    <div class="editor-form" *ngIf="is_tutorial && open_next_component === 'p_box'">
      <h3> Add a paragraph box </h3>
      <form (submit)=postParagraphBoxToService()>
        <p *ngIf="new_paragraph_box.title == ''" class="text-info"> You may leave a title blank. A blank title will not appear in your leaf. </p>
        <p><label>Title: </label><input class="title_box" name="title" [(ngModel)]="new_paragraph_box.title"></p>
        <p><label>Content: </label><textarea rows="5" cols="200" style="width:80%;" name="content" [(ngModel)]="new_paragraph_box.content"></textarea></p>
        <p *ngIf="validator.pbox_content_invalid_flag" class="text-danger">Enter valid content text or consider a different component type.</p>
        <p><input type="submit" class="btn highlight" value="Add Paragraph Box"></p>
      </form>
    </div>
</div>


