<h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!admins"><em>Loading...</em></p>
<p>{{admins | json}}hi</p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="admins">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Password</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let admin of admins">
      <td>{{ admin.firstName }}</td>
      <td>{{ admin.lastName }}</td>
      <td>{{ admin.email }}</td>
      <td>{{ admin.password }}</td>
    </tr>
  </tbody>
</table>

<button (click)="newAdmin()">Post New Admin</button>
