
<div class="generic-element" *ngIf="!email_sent" >
    <h4>Enter the email you used to create your account to have a password confirmation email sent to you.</h4>
    <p class="text-danger"> {{email_sent_validation_error}} </p>
    <form class="form-horizontal registration-box" (submit)="sendVerificationEmail()">
        <label> Email: </label><input class="form-control" name="email" [(ngModel)]="email_to_send">
        <input class="btn btn-info space" type="submit" value="Send Confirmation Email">
    </form>
</div>

<div class="generic-element" *ngIf="email_sent">
    <h4> A verification email has been sent to your inbox. Follow the email's link to activate your new account password.</h4>
</div>    
