.der-boofenberger{
    height:50px;
    width:100%;
}

.footer{
    width:100%;
    height: 80px;
    background-color: rgb(121, 159, 165);
    border-top: 2px solid rgb(60, 65, 60);
    margin-top:30%;
}