<app-nav-menu></app-nav-menu>
<div class="topper"></div>

<div class="container" *ngIf="open_editor == false && open_site_select == false" >
    <h2 class="text-info tutorial-header">Hello and welcome to the Site Leaves tutorial!</h2>
    <div class="container">
        <div class="tutorial-box">
            <p>You will see how easy it can be to get your site content on the web by using these tools.</p>
            <p>Don't worry, nothing you do will be saved. A demo site will be created just to get you familiar with using the app, so feel free to explore!</p>
        </div>
        <button class="btn highlight start-button" (click)="beginTutorial()">Click here to begin the tutorial.</button>
    </div>
</div>

<app-display-sites
    *ngIf="open_site_select"
    [is_tutorial]="true"
    [current_admin_id]="0" 
    [current_admin_token]=""
    (done)="checkDone($event)"
></app-display-sites>

<app-tutorial-editor 
    *ngIf="open_editor"
    [is_tutorial]="true" 
    [current_site_id]= "0" 
    [current_admin_id]= "0" 
    [current_admin_token]= ""
></app-tutorial-editor>

<div *ngIf="open_editor == false && open_site_select == false">
    <h3 class="push-me-down tutorial-video-title  generic-element">You can also watch a number of tutorial videos to get you started.</h3>
    <div class="video-container">
    <div class="tutorial-video-box">
        <h2 class="text-center">{{selected_video.video_title}}:</h2>
        <div class="h-video" *ngIf="selected_video != null">
            <iframe 
                [src]="selected_video.source_url" allowfullscreen>
            </iframe >
        </div>
    </div>
    <div class="video-scroller-box">
        <h5>Other video options:</h5>
        <div class="video-scroller">
            <div *ngFor="let current_video of video_list">
                <p class="text-center video-description" *ngIf="current_video.selected == false" >{{current_video.video_title}}: 
                    <button class="btn btn-info"
                        (click)="toggleVideoSelection(current_video)">
                        Open Video
                    </button>
                </p>
            </div>
        </div>
    </div>
    </div>
    <div class="generic-element push-me-down">
        <h3>Additional questions and or comments?</h3>
        <p>Consider using the <a href="/app/about">contact form</a> on our About page.</p>
    </div>
    <div class="footer"></div>
</div>
