<app-nav-menu></app-nav-menu>
<div class="topper"></div>

<div class="container" *ngIf="open_editor == false && open_site_select == false" >
    <h2 class="text-info tutorial-header">Hello and welcome to the Dynamify tutorial!</h2>
    <div class="container tutorial-box">
        <p>You will see how easy it can be to get your site content on the web by using these tools.</p>
        <p>Don't worry, nothing you do will be saved. A demo site will be created just to get you familiar with using the app, so feel free to explore!</p>
    </div>
    <div class="text-center">
        <button class="btn highlight start-button" (click)="beginTutorial()">Click here to begin the tutorial.</button>
    </div>
</div>

<app-display-sites
    *ngIf="open_site_select"
    [is_tutorial]="true"
    [current_admin_id]="0" 
    [current_admin_token]=""
    (done)="checkDone($event)"
></app-display-sites>

<app-site-editor 
    *ngIf="open_editor"
    [is_tutorial]="true" 
    [current_site_id]= "0" 
    [current_admin_id]= "0" 
    [current_admin_token]= ""
></app-site-editor>
