<app-nav-menu [logged_in]="true" ></app-nav-menu>

<div class="title-box">
    <h3> {{ current_admin.username}}'s account settings </h3>
</div>

<div class="option-display">
    <h3> Data plan </h3>
    <app-data-plan-display [admin_id]="current_admin.admin_id"></app-data-plan-display>
</div>

<div *ngIf="!edit_selected" class="option-display">
    <h4> Change Username </h4>
    <p> Change the name you use to idenfity yourself on this platform. This name is mainly for your personal user experience on the platform. May be used as artist's labels for sites you create in the future. It is recommended to be tasteful. </p>
    <button class="btn btn-success option-button" (click)="toggleEditSelection()"> Change Username </button>
</div>

<div *ngIf="edit_selected" class="edit-box">
    <h4>Edit Admin information here</h4>
    <p class="input-box-information">Note that Email addresses cannot be changed. Delete current Admin and Create a new admin to change email.</p>
    <form (submit)="updateAdminAccount()">
    <div class="input-box" >
        <label>Username: <input class="form-control" name="username" [(ngModel)]="updated_admin.username"></label>
    </div>
    <input type="submit" class="btn btn-success" value="Change Username">
    </form>
    <button class="btn btn-info cancel-button" (click)="toggleEditSelection()"> Cancel Edit </button>
</div>

<div *ngIf="!edit_selected" class="option-display">
    <h4> Change Password </h4>
    <p> Change your password using email verification. Be ready to check your email after selecting this option. It is recommended you change your password every so often to ensure your account remains secure from attackers. </p>
    <button class="btn btn-success option-button" [routerLink]="['/base/password/email/confirmation']"> Change Password </button>
</div>

<div *ngIf="!edit_selected" class="option-display">
    <h4> See Account's sites </h4>
    <p> See your sites on the display sites page. </p>
    <button class="btn btn-info option-button" (click)="toMySites()"> My Sites </button>
</div>

<div *ngIf="!edit_selected" class="option-display">
    <h4> Delete This Admin Account </h4>
    <p> Remove your account and delete all sites accociated with this account. Once this action is completed, it cannot be reversed. Be sure you have all data you do not wish to lose before performing this action. </p>
    <button class="btn btn-danger first-button option-button" *ngIf="!delete_selected" (click)="toggleDeleteSelection()"> Delete This Account</button>
</div>

<div class="warning-box" *ngIf="delete_selected">
    <div class="inner-warning-box">
        <h3 class="text-danger">
            Deleting this account will remove ALL websites associated with the account!
        </h3>
        <h3> Be absolutely sure you want to do this because this action is not reversable. </h3>
        <button class="btn btn-info first-button" (click)="toggleDeleteSelection()">Keep account</button>
        <div class="selection-buffer"></div>
        <button class="btn btn-danger" (click)="deleteAccount()">Delete this account!</button>
    </div>
</div>