.option-display{
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 80%;
}

.option-button{
    margin:4%;
    margin-left: 2%;
    display:block;
}

.edit-box{
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    margin-bottom: 4%;
    width:80%;
    padding: 2%;
    border: 2px solid rgb(160, 192, 176);
    background-color: rgb(167, 228, 167);
    border-radius: 5px;
    max-width: 1000px;
}

.input-box{
    display: block;
    margin-left:auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 10%;
}

.input-box-information{
    width: 90%;
    margin-left:auto;
    margin-right: auto;
    display:block;
}

.cancel-button{
    margin-left: 60%;
    display: block;
    height: 60px;
}

.warning-box{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgb(167, 1, 1);
    background-color:rgb(193, 236, 72);
    width: 80%;
    max-width: 1020px;
    padding: 10px;
}

.title-box{
    display:block;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    padding-top: 40px;
}

.inner-warning-box{
    width:80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.selection-buffer{
    width: 200px;
    display: inline-block;
}

.first-button{
    margin-left:20px;
}

@media (max-width:1200px){
    .selection-buffer{
        display: block;
        height: 150px;
    }
}