<app-nav-menu [logged_in]="true" ></app-nav-menu>

<div class="title-box">
    <h3> {{ current_admin.first_name }} {{current_admin.last_name}}'s account settings </h3>
</div>

<div *ngIf="!edit_selected">
    <p> Change Username </p>
    <button class="btn btn-success" (click)="toggleEditSelection()"> Change Username </button>
</div>

<div *ngIf="edit_selected">
    <p> {{updated_admin | json}} </p>
    <p>Edit Admin information here, note that Email addresses cannot be changed. Delete current Admin and Create a new admin to change email.</p>
    <form (submit)="updateAdminAccount()">
    <label>First Name: </label><input name="first_name" [(ngModel)]="updated_admin.first_name">
    <label>Last Name: </label><input name="last_name" [(ngModel)]="updated_admin.last_name">
    <input type="submit" class="btn btn-success" value="Change Username">
    </form>
    <button class="btn btn-info" (click)="toggleEditSelection"> Cancel Edit </button>
</div> 

<p> See Account's sites </p>
<button class="btn btn-info" (click)="toMySites()"> My Sites </button>

<p> <button class="btn btn-success" [routerLink]="['/base/password/email/confirmation']"> Change Password </button> </p>

<p> Delete This Admin Account </p>

<button class="btn btn-danger first-button" *ngIf="!delete_selected" (click)="toggleDeleteSelection()"> Delete This Account</button>

<div class="warning-box" *ngIf="delete_selected">
    <div class="inner-warning-box">
        <h3 class="text-danger">
            Deleting this account will remove ALL websites associated with the account!
        </h3>
        <h3> Be absolutely sure you want to do this because this action is not reversable. </h3>
        <button class="btn btn-info first-button" (click)="toggleDeleteSelection()">Keep account</button>
        <div class="selection-buffer"></div>
        <button class="btn btn-danger" (click)="deleteAccount()">Delete this account!</button>
    </div>
</div>