.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 2%;
    margin-top: 2%;
}

.title{
    margin-bottom: 0.5%;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}