<app-nav-menu></app-nav-menu>
<div class="generic-element">
    <h2>Privacy Policy</h2>

    <h5>Data we collect</h5>

    <p>We collect general non-personal information about users who visit the site such as date and count of visit, regardless if they create an account or not. 
        Additionally, we use a third party script that collects the visitor's IP addresses and uses small cookies.<p>

    <h5>Why do you collect this data?</h5>

    <p>In short, to track the behavior of visitors of the site to better understand what users are most interested in doing. 
        This is in line with most major commercial sites. Think of it as someone inviting you to take a survey, only it's done for you automatically. We have no intent to and do nothing to trace this information to you.
        We are only interested in popularity metrics to track how well siteleaves.com is performing. As a healthy bi-product, users are able to track how popular sites they create are through their personal account dashboards.</p>

    <h3>Account User Privacy</h3>

    <p>When you create an account, we collect your email address. We also save a small cookie in your browser.</p>

    <h5>Why collect email?</h5>

    <p>Firstly, as a convenience to users. We are able to facilitate password recovery which we would not otherwise be able to do. This also allows users to enjoy a more secure experience.
        Additionally, we use email verification to minimize the proliferation of fake accounts. We pride ourselves in doing nothing else with our user's email addresses. 
        Account email addresses will never be used in marketing campaigns or any other such superfluous spam. We value your inner peace and do not wish to detract from it in any way.
        Deleting the user's account immediately removes the account's email from our database.</p>

    <h5>Why the cookie?</h5>

    <p>We save a small cookie in your browser when you create an account as a convenience to our users.
        This is what allows you to automatically login after the first manual sign in. This feature was requested by our test users and is in line with many modern web applications.
        The storage size of this cookie is negligible and can be deleted at any time by deleting the user's account.</p>

    <h5>Account content disclaimer</h5>

    <p>siteleaves.com in no way protects the privacy of content posted on sites that users create with the app. This content should be assumed to be 100% public. Everyone and their grandmother can view this content at any time.
        Visitors of your site may view or even collect this information. If you have any privacy related reservations about the content you post in your sites, do not post that content on the internet.</p>
</div>

