<h3 class="space" *ngIf="open_registration == true"> Register Here: </h3>
<form *ngIf="open_registration == true" class="form-horizontal registration-box" (submit)="postAdminToService()">
    <h3 *ngIf="general_invalid_registration_error_flag" class="text-danger"> Server rejected registration credentials. Try changing them. </h3>
    <label>First Name: </label><input class="form-control" name="first_name"[(ngModel)]="newAdminObject.first_name">
    <p *ngIf="first_name_required_error" class="text-danger"> First Name Required. </p>
    <label>Last Name: </label><input class="form-control" name="last_name" [(ngModel)]="newAdminObject.last_name">
    <p *ngIf="last_name_required_error" class="text-danger"> Last Name Required. </p>
    <label>Email: </label><input class="form-control" name="email" [(ngModel)]="newAdminObject.email">
    <p *ngIf="email_validation_error_flag" class="text-danger"> Invalid Email Format.</p>
    <p *ngIf="duplicate_email_error" class="text-danger"> Email being used by another active Admin. </p>
    <label>Password: </label><input class="form-control" name="password" type="password" [(ngModel)]="newAdminObject.password">
    <p *ngIf="registration_password_error_flag" class="text-danger"> Password must be at least 8 characters long. </p>
    <p *ngIf="password_confirm_error_flag" class="text-danger" > Error: Password does not match Confirmation Password. </p>
    <label>Confirm Password:</label><input class="form-control" name="password_confirm" type="password" [(ngModel)]=password_confirm>
    <input class="btn btn-info space" type="submit" value="Post new Admin">
</form>

<h3 class="space"> Login here to begin: </h3>
<p class="text-danger"> {{error_display}} </p>
  <form class="form-horizontal registration-box" (submit)="loginAdmin()">
    <label> Email: </label><input class="form-control" name="email" [(ngModel)]="entered_email">
    <p *ngIf="login_email_validation_error_flag" class="text-danger"> Email Invalid </p>
    <label class="space"> Password: </label><input class="form-control" name="password" type="password" [(ngModel)]="entered_password">
    <p *ngIf="login_password_validation_error_flag" class="text-danger"> Enter a password </p>
    <input class="btn btn-info space" type="submit" value="Login">
  </form>

<h5 class="registration-button" *ngIf="open_registration == false"> If you do not have an admin account, you may register one here. <button (click)="openRegistration()" class="btn btn-info"> Register </button></h5>



