
<div class="generic-element" *ngIf="!password_reset_success_flag">
  <h3 class="space">Your account password can be reset here.</h3>
  <h3 class="space">Enter a new password for your account.</h3>
    <form class="form-horizontal registration-box" (submit)="resetPassword()">
      <label class="space"> Password: </label><input class="form-control" name="entered_password" type="password" [(ngModel)]="entered_password">
      <label class="space"> Confirm Password: </label><input class="form-control" name="password_confirmation" type="password" [(ngModel)]="confirm_entered_password">
      <p *ngIf="password_entry_error" class="text-danger"> Ensure password and confirmation password match. </p>
      <p *ngIf="password_short_error_flag" class="text-danger"> Password must be at least 8 characters long. </p>
      <input class="btn btn-info space" type="submit" value="Reset Password">
    </form>
</div>

<div class="confirmation-box" *ngIf="password_reset_success_flag">
  <h4>Congratulations {{admin_username}}, your password has been reset sucessfully. You should now be able to login with your password and begin using Site Leaves.</h4>
  <p class="msg-bt"> Click here to be redirected to the login page. <button class="btn btn-success" (click)="goToLogin()">Go to login</button> </p>
</div> 
