.space{
    margin-top: 4%;
}

.registration-box{
    border: 1px solid rgb(49, 126, 55);

    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 10%;
    padding-right: 10%;

    margin-bottom: 5%;
}