<!-- <p>edit-admin works!</p>
<p> {{editAdminObject | json}} </p>
<p>Edit Admin information here, note that Email addresses cannot be changed. Delete current Admin and Create a new admin to change email.</p>
<form (submit)=editAdminFromService()>
  <label>First Name: </label><input name="first_name"[(ngModel)]="editAdminObject.first_name">
  <label>Last Name: </label><input name="last_name" [(ngModel)]="editAdminObject.last_name">
  <label>password: </label><input name="password" type="password" [(ngModel)]="editAdminObject.password">
  <input type="submit" value="Edit Admin">
</form> -->
