<div *ngIf="link_box != null">
    <app-link-box class="editor-component" *ngIf="link_display" [component_id]="lbox_id" [site_id]="site_id" [link_box_object]="link_box"></app-link-box>

    <div class="text-center component-options-bar">
        <button *ngIf="!toggle_delete" class="btn btn-danger" (click)='toggleDelete()'>Delete</button>
        <button *ngIf="toggle_delete" class="btn btn-info" (click)='toggleDelete()'>Cancel Delete</button>
        <button *ngIf="toggle_delete" class="btn btn-warning component-options-bottom-button" (click)='deleteSiteComponentByIdAndType()'>Confirm Delete</button>
        <button *ngIf="!toggle_edit && !toggle_delete" class="btn btn-info component-options-bottom-button" (click)='toggleEdit()'>Edit</button>
    </div>
  
    <div class="editor-form" *ngIf="toggle_edit">
        <button class="btn btn-info" (click)='toggleEdit()'>Cancel Edit</button>
        <h3> Edit Link box </h3>
        <form (submit)=editLinkBox()>
          <p *ngIf="link_box_edits.title == ''" class="text-info"> You may leave a title blank. A blank title will not appear in your leaf. </p>
          <p><label>Title: </label><input class="title_box" name="title" [(ngModel)]="link_box_edits.title"></p>
          <p><label>Description: </label><textarea rows="5" cols="200" style="width:80%;" name="content" [(ngModel)]="link_box_edits.content"></textarea></p>
          <p *ngIf="validator.link_box_content_invalid_flag" class="text-danger">Enter a description for your link. This will be displayed next to the link.</p>
          <p *ngIf="link_box_edits.url === ''" class="text-info" > Link will go to http://(Your url here!) </p>
          <p class="text-info" *ngIf="link_box_edits.url != ''" > Link will go to http://{{link_box_edits.url}} </p>
          <p><label>Link URL: </label><input name="url" [(ngModel)]="link_box_edits.url"></p>
          <p *ngIf="validator.link_box_url_invalid_flag" class="text-danger">URL must be of the form www.example.com/...</p>
          <p><label>Label: </label><input name="link_display" [(ngModel)]="link_box_edits.link_display"> (this is what the user sees when they click the link)</p>
          <p *ngIf="validator.link_box_display_invalid_flag" class="text-danger">A link must have a label.</p>
          <p><input type="submit" class="btn btn-warning" value="Edit Link Box"></p>
        </form>
    </div>
</div>