<!-- <div *ngIf="formatted_site.site_id != 0">
  <h1 class="title"> {{formatted_site.title}} </h1>

  <p>{{formatted_site|json}}</p>

  <div *ngFor="let site_component of formatted_site.site_components">
    <p>{{ site_component|json }}</p>
    <h2 class="title">{{site_component.title}}</h2>
    <div *ngIf="site_component.type === 'p_box'">
      <p class="text-format"> {{site_component.content}} </p>
    </div>
    <div *ngIf="site_component.type === 'image'">
      <img class="image" src="{{site_component.image_src}}" alt="{{site_component.image_src}}">
    </div>
    <div *ngIf="site_component.type === 'portrait'">
      <img class="image" src="{{site_component.image_src}}" alt="{{site_component.image_src}}">
      <p class="text-format">{{site_component.content}}</p>
    </div>
    <div *ngIf="site_component.type === '2c_box'">
      <div class="container">
        <div class="row">
          <div class="col-sm text-center">
            <h3 class="title"> 
              {{site_component.heading_one}} </h3>
              <p class="column-block">{{site_component.content_one}}</p>
          </div>
          <div class="col-sm text-center">
            <h3 class="title"> 
              {{site_component.heading_two}} </h3>
              <p class="column-block">{{site_component.content_two}}</p>
          </div>
        </div>
      </div>
    </div>
</div> -->

<div *ngIf="formatted_site.site_id != 0">
  <app-page-generator [formatted_site]="formatted_site"></app-page-generator>
</div>