/* a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
} */
.nav-bg{
  background-color: rgb(121, 159, 165);
  border-bottom: 3px solid rgb(0, 92, 128);
}

.nav-homepage:hover{
  color: rgb(127, 253, 169);
}

.sticky{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

html {
  font-size: 12px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


