<app-login *ngIf="current_admin_id == 0" (logEvent)="recieveAdminIdFromLogin($event)"></app-login>

<p>Current Admin ID: {{current_admin_id}}</p>

<div *ngIf="current_admin_id == null">
  <p *ngIf="!admins"><em>Loading...</em></p>

  <p class="text-center">All admin data*: not for production</p>
  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="admins">
    <thead>
      <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Password</th>
        <th>Delete</th>
        <th>Select</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let admin of admins">
        <td>{{ admin.admin_id }}</td>
        <td>{{ admin.first_name }}</td>
        <td>{{ admin.last_name }}</td>
        <td>{{ admin.email }}</td>
        <td>{{ admin.password }}</td>
        <td><button class="btn btn-success" (click)="openEditor(admin)">Edit</button></td>
        <td><button class="btn btn-info" (click)="selectAdmin(admin.admin_id)">Select :D</button></td>
        <td><button class="btn btn-warning" (click)="deleteAdminByID(admin.admin_id)">Delete :O</button></td>
      </tr>
    </tbody>
  </table>
</div>

<app-display-sites *ngIf="current_admin_id != 0 && current_admin_id != null" [current_admin_id]="current_admin_id"></app-display-sites>

<app-edit-admin *ngIf="open_editor" [editAdminObject]="editAdminObject"></app-edit-admin>

<p>Footer :D</p>