<div *ngIf="tcb_object != null" class="site-component-container">
  <h2 *ngIf = "tcb_object.title != ''" class="title">{{tcb_object.title}}</h2> 
    <div class="row">
      <div class="column-left">
        <h3 *ngIf="tcb_object.heading_one != ''" class="title"> {{tcb_object.heading_one}} </h3>
          <p class="column-block">{{tcb_object.content_one}}</p>
      </div>
      <div class="column-right">
        <h3 *ngIf="tcb_object.heading_two != ''" class="title"> {{tcb_object.heading_two}} </h3>
          <p class="column-block">{{tcb_object.content_two}}</p>
      </div>
    </div>
</div>
